# Capstone Project - Predicting Hosuing Prices in Moscow

<h3>Import of important libraries</h3>
<p>Those libraries are needed for further analyis</p>

In [3]:
%pylab inline
import seaborn as sns
sns.set(style="whitegrid", color_codes = True)

import pandas as pd 
import numpy as np

import xgboost as xgb

Populating the interactive namespace from numpy and matplotlib

<p>Loading the datasets:</p>
    <ul><li><p>train.csv</p></li>
    <li><p>test.csv</p></li>
    <li><p>macro.csv</p></li></ul>

In [8]:
#loading train dataset
with open("train.csv", 'r') as f:
    train_df = pd.read_csv(f)
#loading test dataset
with open("test.csv", 'r') as f:
    test_df = pd.read_csv(f)
    #loading macro dataset
with open("macro.csv", 'r') as f:
    macro_df = pd.read_csv(f)

# Part 1 - Prepocessing

### So before we go into in depth analysis of the data lets have a first quick at the data

In [11]:
display(train_df.head())
display(test_df.head())
display(macro_df.head())

,id,timestamp,full_sq,life_sq,floor,max_floor,material,build_year,num_room,kitch_sq,...,cafe_count_5000_price_2500,cafe_count_5000_price_4000,cafe_count_5000_price_high,big_church_count_5000,church_count_5000,mosque_count_5000,leisure_count_5000,sport_count_5000,market_count_5000,price_doc
0,1,2011-08-20,43,27.0,4.0,NaN,NaN,NaN,NaN,NaN,...,9,4,0,13,22,1,0,52,4,5850000
1,2,2011-08-23,34,19.0,3.0,NaN,NaN,NaN,NaN,NaN,...,15,3,0,15,29,1,10,66,14,6000000
2,3,2011-08-27,43,29.0,2.0,NaN,NaN,NaN,NaN,NaN,...,10,3,0,11,27,0,4,67,10,5700000
3,4,2011-09-01,89,50.0,9.0,NaN,NaN,NaN,NaN,NaN,...,11,2,1,4,4,0,0,26,3,13100000
4,5,2011-09-05,77,77.0,4.0,NaN,NaN,NaN,NaN,NaN,...,319,108,17,135,236,2,91,195,14,16331452

,id,timestamp,full_sq,life_sq,floor,max_floor,material,build_year,num_room,kitch_sq,...,cafe_count_5000_price_1500,cafe_count_5000_price_2500,cafe_count_5000_price_4000,cafe_count_5000_price_high,big_church_count_5000,church_count_5000,mosque_count_5000,leisure_count_5000,sport_count_5000,market_count_5000
0,30474,2015-07-01,39.0,20.7,2,9,1,1998.0,1,8.9,...,8,0,0,0,1,10,1,0,14,1
1,30475,2015-07-01,79.2,NaN,8,17,1,0.0,3,1.0,...,4,1,1,0,2,11,0,1,12,1
2,30476,2015-07-01,40.5,25.1,3,5,2,1960.0,2,4.8,...,42,11,4,0,10,21,0,10,71,11
3,30477,2015-07-01,62.8,36.0,17,17,1,2016.0,2,62.8,...,1,1,2,0,0,10,0,0,2,0
4,30478,2015-07-01,40.0,40.0,17,17,1,0.0,1,1.0,...,5,1,1,0,2,12,0,1,11,1

,timestamp,oil_urals,gdp_quart,gdp_quart_growth,cpi,ppi,gdp_deflator,balance_trade,balance_trade_growth,usdrub,...,provision_retail_space_modern_sqm,turnover_catering_per_cap,theaters_viewers_per_1000_cap,seats_theather_rfmin_per_100000_cap,museum_visitis_per_100_cap,bandwidth_sports,population_reg_sports_share,students_reg_sports_share,apartment_build,apartment_fund_sqm
0,2010-01-01,76.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,690.0,6221.0,527.0,0.41,993.0,NaN,NaN,63.03,22825.0,NaN
1,2010-01-02,76.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,690.0,6221.0,527.0,0.41,993.0,NaN,NaN,63.03,22825.0,NaN
2,2010-01-03,76.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,690.0,6221.0,527.0,0.41,993.0,NaN,NaN,63.03,22825.0,NaN
3,2010-01-04,76.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.905,...,690.0,6221.0,527.0,0.41,993.0,NaN,NaN,63.03,22825.0,NaN
4,2010-01-05,76.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.836,...,690.0,6221.0,527.0,0.41,993.0,NaN,NaN,63.03,22825.0,NaN

In [37]:
display(train_df.shape)
display(train_df.describe())
display(test_df.shape)
display(test_df.describe())
display(macro_df.shape)
display(macro_df.describe())

(30471, 292)

,id,full_sq,life_sq,floor,max_floor,material,build_year,num_room,kitch_sq,state,...,cafe_count_5000_price_2500,cafe_count_5000_price_4000,cafe_count_5000_price_high,big_church_count_5000,church_count_5000,mosque_count_5000,leisure_count_5000,sport_count_5000,market_count_5000,price_doc
count,30471.000000,30471.000000,24088.000000,30304.000000,20899.000000,20899.000000,1.686600e+04,20899.000000,20899.000000,16912.000000,...,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,30471.000000,3.047100e+04
mean,15237.917397,54.214269,34.403271,7.670803,12.558974,1.827121,3.068057e+03,1.909804,6.399301,2.107025,...,32.058318,10.783860,1.771783,15.045552,30.251518,0.442421,8.648814,52.796593,5.987070,7.123035e+06
std,8796.501536,38.031487,52.285733,5.319989,6.756550,1.481154,1.543878e+05,0.851805,28.265979,0.880148,...,73.465611,28.385679,5.418807,29.118668,47.347938,0.609269,20.580741,46.292660,4.889219,4.780111e+06
min,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000e+00,0.000000,0.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000e+05
25%,7620.500000,38.000000,20.000000,3.000000,9.000000,1.000000,1.967000e+03,1.000000,1.000000,1.000000,...,2.000000,1.000000,0.000000,2.000000,9.000000,0.000000,0.000000,11.000000,1.000000,4.740002e+06
50%,15238.000000,49.000000,30.000000,6.500000,12.000000,1.000000,1.979000e+03,2.000000,6.000000,2.000000,...,8.000000,2.000000,0.000000,7.000000,16.000000,0.000000,2.000000,48.000000,5.000000,6.274411e+06
75%,22855.500000,63.000000,43.000000,11.000000,17.000000,2.000000,2.005000e+03,2.000000,9.000000,3.000000,...,21.000000,5.000000,1.000000,12.000000,28.000000,1.000000,7.000000,76.000000,10.000000,8.300000e+06
max,30473.000000,5326.000000,7478.000000,77.000000,117.000000,6.000000,2.005201e+07,19.000000,2014.000000,33.000000,...,377.000000,147.000000,30.000000,151.000000,250.000000,2.000000,106.000000,218.000000,21.000000,1.111111e+08

(7662, 291)

,id,full_sq,life_sq,floor,max_floor,material,build_year,num_room,kitch_sq,state,...,cafe_count_5000_price_1500,cafe_count_5000_price_2500,cafe_count_5000_price_4000,cafe_count_5000_price_high,big_church_count_5000,church_count_5000,mosque_count_5000,leisure_count_5000,sport_count_5000,market_count_5000
count,7662.000000,7662.000000,6486.000000,7662.000000,7662.000000,7662.000000,6613.000000,7662.000000,7662.000000,6968.000000,...,7662.000000,7662.000000,7662.000000,7662.000000,7662.000000,7662.000000,7662.000000,7662.000000,7662.000000,7662.000000
mean,34304.500000,53.701164,32.660037,7.652571,12.591099,1.854216,1820.888099,1.876403,6.938662,1.985792,...,69.532890,35.777865,12.152310,2.007439,16.749152,33.109371,0.412425,9.639650,56.235839,6.330723
std,2211.973214,20.104320,22.737855,5.099418,6.659291,1.517171,552.993964,0.835665,25.579688,0.820086,...,129.533773,76.524992,29.590097,5.664540,30.706709,49.734993,0.608938,21.499687,47.632547,4.956223
min,30474.000000,0.000000,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000,0.000000,1.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,32389.250000,39.200000,19.900000,4.000000,9.000000,1.000000,1966.000000,1.000000,1.000000,1.000000,...,7.000000,2.000000,1.000000,0.000000,3.000000,10.000000,0.000000,0.000000,12.000000,2.000000
50%,34304.500000,50.410000,30.400000,7.000000,14.000000,1.000000,1982.000000,2.000000,7.000000,2.000000,...,27.000000,10.000000,2.000000,0.000000,7.000000,17.000000,0.000000,2.000000,51.000000,5.000000
75%,36219.750000,63.300000,41.800000,11.000000,17.000000,2.000000,2011.000000,2.000000,9.500000,3.000000,...,54.000000,25.000000,5.000000,1.000000,13.000000,29.000000,1.000000,7.000000,79.000000,11.000000
max,38135.000000,403.000000,869.000000,41.000000,48.000000,6.000000,2019.000000,19.000000,1968.000000,4.000000,...,643.000000,374.000000,145.000000,29.000000,150.000000,249.000000,2.000000,105.000000,212.000000,21.000000

(2484, 100)

,oil_urals,gdp_quart,gdp_quart_growth,cpi,ppi,gdp_deflator,balance_trade,balance_trade_growth,usdrub,eurrub,...,provision_retail_space_modern_sqm,turnover_catering_per_cap,theaters_viewers_per_1000_cap,seats_theather_rfmin_per_100000_cap,museum_visitis_per_100_cap,bandwidth_sports,population_reg_sports_share,students_reg_sports_share,apartment_build,apartment_fund_sqm
count,2484.000000,2394.000000,2394.000000,2453.000000,2453.000000,2119.000000,2453.000000,2394.000000,2481.000000,2481.000000,...,730.000000,2191.000000,1461.00000,2191.000000,1461.000000,1826.000000,1461.00000,1461.000000,1826.000000,1826.000000
mean,86.467157,16993.230075,1.523726,407.808398,480.216347,110.122308,15.344006,16.846742,40.732406,50.444801,...,480.500000,8691.922410,580.51540,0.443398,1245.543463,349902.577766,25.06859,67.800034,36282.434830,230615.059255
std,27.528709,3187.074480,2.875659,65.895969,70.286366,14.818429,3.878104,16.988727,15.006583,13.905912,...,209.643641,1668.967502,37.98811,0.016061,162.526951,72146.453110,2.44944,5.168602,10761.669111,2944.879242
min,29.112500,9995.800000,-4.500000,315.100000,337.200000,86.721000,5.823000,-4.100000,27.276300,37.445400,...,271.000000,6221.000000,527.00000,0.410000,993.000000,269768.000000,22.37000,63.030000,22825.000000,226047.300000
25%,61.283300,14925.000000,0.400000,354.000000,438.400000,100.000000,12.785000,7.200000,30.508800,40.242600,...,271.000000,6943.000000,565.00000,0.439390,1240.000000,288177.000000,23.01000,64.120000,23587.000000,229294.800000
50%,101.416500,17442.100000,1.300000,393.000000,473.500000,108.299000,16.041000,10.500000,32.316500,42.862200,...,480.500000,8522.000000,603.00000,0.450700,1309.000000,329348.000000,23.01000,67.850000,42551.000000,230310.000000
75%,109.310000,19284.100000,4.100000,469.400000,520.700000,123.661000,18.076000,21.500000,53.752300,61.323700,...,690.000000,10311.000000,603.00000,0.453560,1309.000000,398451.000000,26.70000,67.850000,46080.000000,232840.200000
max,122.520000,22016.100000,5.200000,531.000000,606.100000,133.160000,21.939000,75.800000,82.276400,90.881500,...,690.000000,10805.000000,627.00000,0.458880,1440.000000,463938.000000,28.20000,76.200000,46352.000000,234576.900000

### A quick glance already tells us that there are a lot of missing values in the data. Further one can see that all three datasets have the common feature **timestamp**, which we can use to merge the dataframes.

<p>I will merge the test and train datasets with the macro dataset. Therefore I will merge those dataframes based on their timestamp:<p>
<img src="http://blog.codinghorror.com/content/images/uploads/2007/10/6a0120a85dcdae970b01287770273e970c-pi.png" width="200", align = "left", alt = "blog.codinghorror.com">
<p></p>
<p>Here **A** represents the train and test data while **B** is the macro data</p>

In [18]:
train_df.set_index(pd.to_datetime(train_df["timestamp"]), inplace = True)
test_df.set_index(pd.to_datetime(test_df["timestamp"]), inplace = True)
macro_df.set_index(pd.to_datetime(macro_df["timestamp"]), inplace = True)

In [43]:
train_merge = pd.merge(left = train_df, right = macro_df, how = "left", left_on = "timestamp", right_on = "timestamp")
test_merge = pd.merge(left = test_df, right = macro_df, how = "left", left_on = "timestamp", right_on = "timestamp")

### Ok now that we have merged the dataframes, lets look for missing values and the data's distribution

In [46]:
print(train_merge.isnull())

          id  timestamp  full_sq  life_sq  floor  max_floor  material  \
0      False      False    False    False  False       True      True
1      False      False    False    False  False       True      True
2      False      False    False    False  False       True      True
3      False      False    False    False  False       True      True
4      False      False    False    False  False       True      True
5      False      False    False    False  False       True      True
6      False      False    False    False  False       True      True
7      False      False    False    False  False       True      True
8      False      False    False    False  False       True      True
9      False      False    False    False  False       True      True
10     False      False    False    False  False       True      True
11     False      False    False    False  False       True      True
12     False      False    False    False  False       True      True
13     False      False    False    False  False       True      True
14     False      False    False    False  False       True      True
15     False      False    False    False  False       True      True
16     False      False    False    False  False       True      True
17     False      False    False    False  False       True      True
18     False      False    False    False  False       True      True
19     False      False    False    False  False       True      True
20     False      False    False    False  False       True      True
21     False      False    False    False  False       True      True
22     False      False    False    False  False       True      True
23     False      False    False    False  False       True      True
24     False      False    False    False  False       True      True
25     False      False    False    False  False       True      True
26     False      False    False    False  False       True      True
27     False      False    False    False  False       True      True
28     False      False    False    False  False       True      True
29     False      False    False    False  False       True      True
...      ...        ...      ...      ...    ...        ...       ...
30441  False      False    False    False  False      False     False
30442  False      False    False    False  False      False     False
30443  False      False    False     True  False      False     False
30444  False      False    False     True  False      False     False
30445  False      False    False    False  False      False     False
30446  False      False    False    False  False      False     False
30447  False      False    False     True  False      False     False
30448  False      False    False     True  False      False     False
30449  False      False    False    False  False      False     False
30450  False      False    False     True  False      False     False
30451  False      False    False     True  False      False     False
30452  False      False    False    False  False      False     False
30453  False      False    False    False  False      False     False
30454  False      False    False    False  False      False     False
30455  False      False    False    False  False      False     False
30456  False      False    False    False  False      False     False
30457  False      False    False    False  False      False     False
30458  False      False    False    False  False      False     False
30459  False      False    False     True  False      False     False
30460  False      False    False    False  False      False     False
30461  False      False    False    False  False      False     False
30462  False      False    False    False  False      False     False
30463  False      False    False    False  False      False     False
30464  False      False    False    False  False      False     False
30465  False      False    False     True  False      False     False
30466  False      False    False    False  False      False     False
30467  False      False    False    False  False      False     False
30468  False      False    False     True  False      False     False
30469  False      False    False    False  False      False     False
30470  False      False    False    False  False      False     False

       build_year  num_room  kitch_sq         ...          \
0            True      True      True         ...
1            True      True      True         ...
2            True      True      True         ...
3            True      True      True         ...
4            True      True      True         ...
5            True      True      True         ...
6            True      True      True         ...
7            True      True      True         ...
8            True      True      True         ...
9            True      True      True         ...
10           True      True      True         ...
11           True      True      True         ...
12           True      True      True         ...
13           True      True      True         ...
14           True      True      True         ...
15           True      True      True         ...
16           True      True      True         ...
17           True      True      True         ...
18           True      True      True         ...
19           True      True      True         ...
20           True      True      True         ...
21           True      True      True         ...
22           True      True      True         ...
23           True      True      True         ...
24           True      True      True         ...
25           True      True      True         ...
26           True      True      True         ...
27           True      True      True         ...
28           True      True      True         ...
29           True      True      True         ...
...           ...       ...       ...         ...
30441       False     False     False         ...
30442       False     False     False         ...
30443        True     False     False         ...
30444       False     False     False         ...
30445       False     False     False         ...
30446       False     False     False         ...
30447        True     False     False         ...
30448        True     False     False         ...
30449       False     False     False         ...
30450        True     False     False         ...
30451       False     False     False         ...
30452       False     False     False         ...
30453       False     False     False         ...
30454       False     False     False         ...
30455        True     False     False         ...
30456       False     False     False         ...
30457       False     False     False         ...
30458       False     False     False         ...
30459        True     False     False         ...
30460       False     False     False         ...
30461       False     False     False         ...
30462       False     False     False         ...
30463       False     False     False         ...
30464       False     False     False         ...
30465        True     False     False         ...
30466       False     False     False         ...
30467       False     False     False         ...
30468        True     False     False         ...
30469       False     False     False         ...
30470       False     False     False         ...

       provision_retail_space_modern_sqm  turnover_catering_per_cap  \
0                                  False                      False
1                                  False                      False
2                                  False                      False
3                                  False                      False
4                                  False                      False
5                                  False                      False
6                                  False                      False
7                                  False                      False
8                                  False                      False
9                                  False                      False
10                                 False                      False
11                                 False                      False
12                                 False                      False
13                                 False                      False
14                                 False                      False
15                                 False                      False
16                                 False                      False
17                                 False                      False
18                                 False                      False
19                                 False                      False
20                                 False                      False
21                                 False                      False
22                                 False                      False
23                                 False                      False
24                                 False                      False
25                                 False                      False
26                                 False                      False
27                                 False                      False
28                                 False                      False
29                                 False                      False
...                                  ...                        ...
30441                               True                      False
30442                               True                      False
30443                               True                      False
30444                               True                      False
30445                               True                      False
30446                               True                      False
30447                               True                      False
30448                               True                      False
30449                               True                      False
30450                               True                      False
30451                               True                      False
30452                               True                      False
30453                               True                      False
30454                               True                      False
30455                               True                      False
30456                               True                      False
30457                               True                      False
30458                               True                      False
30459                               True                      False
30460                               True                      False
30461                               True                      False
30462                               True                      False
30463                               True                      False
30464                               True                      False
30465                               True                      False
30466                               True                      False
30467                               True                      False
30468                               True                      False
30469                               True                      False
30470                               True                      False

       theaters_viewers_per_1000_cap  seats_theather_rfmin_per_100000_cap  \
0                              False                                False
1                              False                                False
2                              False                                False
3                              False                                False
4                              False                                False
5                              False                                False
6                              False                                False
7                              False                                False
8                              False                                False
9                              False                                False
10                             False                                False
11                             False                                False
12                             False                                False
13                             False                                False
14                             False                                False
15                             False                                False
16                             False                                False
17                             False                                False
18                             False                                False
19                             False                                False
20                             False                                False
21                             False                                False
22                             False                                False
23                             False                                False
24                             False                                False
25                             False                                False
26                             False                                False
27                             False                                False
28                             False                                False
29                             False                                False
...                              ...                                  ...
30441                           True                                False
30442                           True                                False
30443                           True                                False
30444                           True                                False
30445                           True                                False
30446                           True                                False
30447                           True                                False
30448                           True                                False
30449                           True                                False
30450                           True                                False
30451                           True                                False
30452                           True                                False
30453                           True                                False
30454                           True                                False
30455                           True                                False
30456                           True                                False
30457                           True                                False
30458                           True                                False
30459                           True                                False
30460                           True                                False
30461                           True                                False
30462                           True                                False
30463                           True                                False
30464                           True                                False
30465                           True                                False
30466                           True                                False
30467                           True                                False
30468                           True                                False
30469                           True                                False
30470                           True                                False

       museum_visitis_per_100_cap  bandwidth_sports  \
0                           False             False
1                           False             False
2                           False             False
3                           False             False
4                           False             False
5                           False             False
6                           False             False
7                           False             False
8                           False             False
9                           False             False
10                          False             False
11                          False             False
12                          False             False
13                          False             False
14                          False             False
15                          False             False
16                          False             False
17                          False             False
18                          False             False
19                          False             False
20                          False             False
21                          False             False
22                          False             False
23                          False             False
24                          False             False
25                          False             False
26                          False             False
27                          False             False
28                          False             False
29                          False             False
...                           ...               ...
30441                        True             False
30442                        True             False
30443                        True             False
30444                        True             False
30445                        True             False
30446                        True             False
30447                        True             False
30448                        True             False
30449                        True             False
30450                        True             False
30451                        True             False
30452                        True             False
30453                        True             False
30454                        True             False
30455                        True             False
30456                        True             False
30457                        True             False
30458                        True             False
30459                        True             False
30460                        True             False
30461                        True             False
30462                        True             False
30463                        True             False
30464                        True             False
30465                        True             False
30466                        True             False
30467                        True             False
30468                        True             False
30469                        True             False
30470                        True             False

       population_reg_sports_share  students_reg_sports_share  \
0                            False                      False
1                            False                      False
2                            False                      False
3                            False                      False
4                            False                      False
5                            False                      False
6                            False                      False